<%- include('partials/header') %>

<main>
    <section class="featured-recipes">
        <h2>Recettes en Vedette</h2>
        <% recipes.forEach(function(recipe) { %>
        <div class="recipe-card">
            <img class="recipe-image" src="<%= recipe.image %>" alt="<%= recipe.title %>">
            <h2 class="recipe-title"><%= recipe.title %></h2>
            <a href="/recipes/<%= recipe.id %>" class="recipe-button">Voir la recette</a>
            <% if (typeof admin !== 'undefined' && admin) { %>
                <form action="/recipes/<%= recipe.id %>/delete" method="POST">
                    <button type="submit" class="recipe-button">Supprimer</button>
                </form>
            <% } %>
        </div>
        <% }) %>
    </section>

    <section class="latest-recipes">
        <h2>Dernières Recettes</h2>
        <ul>
            <% recipes.forEach(function(recipe) { %>
            <div class="recipe-card">
                <img class="recipe-image" src="<%= recipe.image %>" alt="<%= recipe.title %>">
                <h2 class="recipe-title"><%= recipe.title %></h2>
                <a href="/recipes/<%= recipe.id %>" class="recipe-button">Voir la recette</a>
            </div>
            <% }) %>
        </ul>
    </section>
</main>

<%- include('partials/footer') %>
