<link rel="stylesheet" href="/css/recipes.css">

<%- include('partials/header') %>


<% recipes.forEach(function(recipe) { %>
    <div class="recipe-card">
        <img class="recipe-image" src="/images/<%= recipe.image %>" alt="<%= recipe.title %>">

        <h2 class="recipe-title"><%= recipe.title %></h2>
        <a href="/recipes/<%= recipe.id %>" class="recipe-button">Voir la recette</a>
        <% if (admin) { %>
            <form action="/recipes/<%= recipe.id %>/delete" method="POST">
                <button type="submit" class="recipe-button">Supprimer</button>
            </form>
        <% } %>
    </div>
<% }) %>
<% console.log('admin:', admin); %>
<%- include('partials/footer') %>